body {
    font-family: Arial, Sans-serif !important;
    color: #333 !important;
}

.btn {
    background: #88af28;
    color: #fff;
    border: 1px solid #88af28;
    font-size: 14px;
    border-radius: 3px;
}

.dateRange {
    padding: 5px;
    margin: 5px;
}

input {
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #438D80;
}

.dateRange div {
    display: inline-block;
}

select.user {
    border: 1px solid #ccc;
    height: 30px;
}

#printArea {
    display: none;
}

.healthId {
    border-style: solid;
    width: 48%;
    height:250px;
    margin: 0.5%;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

.patient_details{
    height: 170px;
}

.details_1{
    height:90px;
}

.hid_details{
    height: 100px;
    text-align: center;
}

.healthId img {
    margin: 0 0 0 1%;
    float: left;
    width:120px;
    height:90px;
}

.healthId  label {
    margin: 0.5%;
}

 .name,.issued{
    display:block
}

.dob{
    float:right;
    margin: 0% 2% 0% 0% !important;
}

.healthId .address, .address_value{
    display: inline-block;
    height: auto;
}

.errorMessage {
    padding: 2px 4px;
    margin: 0px;
    border: solid 1px #FBD3C6;
    background: #FDE4E1;
    color: #CB4721;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.address_details{
    margin:0 0 0 2%;
}

.address_details .address{
    float: left;
    width: 80px;
    display: inline;
}

.address_details .value{
    width: 370px;
    float:right;
}

@media print {
    #content > :not(#printArea) {
        display: none;
    }
}