body {
    font-family: Arial, Sans-serif !important;
    color: #333 !important;
}

.btn {
    background: #88af28;
    color: #fff;
    border: 1px solid #88af28;
    font-size: 14px;
    border-radius: 3px;
}

.dateRange {
    padding: 5px;
    margin: 5px;
}

input {
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #438D80;
}

.dateRange div {
    display: inline-block;
}

select.user {
    border: 1px solid #ccc;
    height: 30px;
}

#printArea {
    display: none;
    font-family: Helvetica, Arial SansSerif;

}
.print_wrap{
    margin:0 auto;
}

.healthId_body{
    padding: 5px 10px 5px 10px;
}

.healthId {
    border-style: solid;
    width: 8.5cm;
    height: 5.3cm;
    margin: 0.5cm;
    display: inline-block;
    font-size: 10px;
    border-color: #afafaf;
    border-width: medium;
}

.heading{
    height : 26px;
    font-size: 10px;
    font-weight: bold;
}

#bdgov , #hidCard {
    padding-left: 31px;
}

.details_1{
    padding-top: 10px;
}

.healthId img {
    float: left;
    width:26px;
    height:26px;
}

.name{
    display: block;
}

.bangla_name{
    display: block;
    line-height: 4px;
    padding-left: 20px;
}

.issued,.dob, .gender, .hid{
    display: inline-block;
    padding-top: 10px;
}

.gender,.issued{
    float: right;
}
.address_details{
    padding-top: 10px;
    font-size: 9px;
    line-height: 10px;
    height: 25px;
}

.hid_footer{
    background-color: lightgrey;
}

.errorMessage {
    padding: 2px 4px;
    margin: 0 0 2% 0;
    border: solid 1px #FBD3C6;
    background: #FDE4E1;
    color: #CB4721;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#info {
    display: none;
    padding: 2px 4px;
    margin: 0 0 2% 0;
    border: solid 1px #FBD3C6;
    background: #fde085;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

@charset "UTF-8";

@media print {
    #content > :not(#printArea) {
        display: none !important;
    }
    @page {
        margin-left: 0.2cm;
        margin-right: 0.2cm;
        margin-top: 0.5cm;
        margin-bottom: 0.5cm;
    }
    .healthId {
        border-style: solid;
        width: 8.5cm;
        height:5.3cm;
        margin:10px;
        display: inline-block;
        font-size: 10px;
        box-sizing: border-box;
    }
}

.disclaimer{
    font-size: 8px;
    line-height: 10px;
    padding-top: 2px;
    text-align: center;
}

.barcode{
    height: 25px !important;
    width: 300px !important;
}