body {
    font-family: Arial, Sans-serif !important;
    color: #333 !important;
}

.btn {
    background: #88af28;
    color: #fff;
    border: 1px solid #88af28;
    font-size: 14px;
    border-radius: 3px;
}

.dateRange {
    padding: 5px;
    margin: 5px;
}

input {
    margin: 0px 10px 0px 10px;
    font-size: 18px;
}

.container {
    width: 21cm;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    color: #438D80;
}

.dateRange div {
    display: inline-block;
}

select.user {
    border: 1px solid #ccc;
    height: 30px;
}

#printArea {
    display: none;
    font-family: Helvetica, Arial SansSerif;

}
.print_wrap{
    margin:0 auto;
    overflow: hidden;
    clear: both;
}

.healthId_body{
    padding: 5px 10px 0px 10px;
}

.healthId {
    border-style: solid;
    width: 8.5cm !important;
    height: 5.3cm !important;
    margin: 30px;
    float: left;
    border-color: #afafaf;
    border-width: medium;
    position: relative;
    box-sizing: border-box;
    page-break-inside: avoid;
}

.heading{
    height : 26px;
    font-size: 10px;
}

#bdgov {
    padding-left: 31px;
}

#hidCard{
    text-align: center;
    font-weight: bold;
}

.patient_details {
    padding-top: 2px;
}

.healthId img {
    float: left;
    width:26px;
    height:26px;
}

.label_tag{
    font-size:8px;
}

#english_and_bangla_name{
    height: 36px;
}

.name_no_overflow {
    overflow: hidden;
    height: 18px;
    text-overflow: clip;
    white-space: nowrap;
}

#name,#hid,#gender,#dob,#issued{
    font-size:12px;
    display:inline;
}

#name,#hid{
    font-weight: bold;
}

#bangla_name{
    display:block;
    padding-left:19px;
    font-size:12px;
}

#name_tag,#hid_tag, #gender_tag,#dob_tag,#issued_tag,#address_tag{
    display:inline-block;
}

#hid_and_issued{
    display:block;
    clear: both;
    overflow: hidden;
}
.form-field{
    width:50%;
    padding-right:5px;
    float: left;
    box-sizing: border-box;
}

.address_details{
    display: block;
    line-height: 10px;
    overflow: hidden;
    height: 32px;
}

.address {
    display:inline;
    font-size: 9px;
    overflow: hidden;
}

.address_line {
    height: 13px;
    text-overflow: clip;
    white-space: nowrap;
}

.hid_footer{
    padding-bottom: 1px;
    bottom: 0;
    position: absolute;
    border: medium none;
    border-top: groove #eee;
}

.errorMessage {
    padding: 2px 4px;
    margin: 0 0 2% 0;
    border: solid 1px #FBD3C6;
    background: #FDE4E1;
    color: #CB4721;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#info {
    display: none;
    padding: 2px 4px;
    margin: 0 0 2% 0;
    border: solid 1px #FBD3C6;
    background: #fde085;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

@charset "UTF-8";

@media print {
    #content > :not(#printArea) {
        display: none !important;
    }
    @page {
        margin-left: 0.3cm;
        margin-right: 0.3cm;
        margin-top: 0.5cm;
        margin-bottom: 0.5cm;
    }
    .healthId {
        border-style: solid;
        width: 8.5cm !important;
        height: 5.3cm !important;
        margin: 30px;
        border-color: #afafaf;
        border-width: medium;
        position: relative;
        box-sizing: border-box;
        page-break-inside: avoid;
    }
}

.disclaimer{
    font-size: 8px;
    line-height: 9px;
    padding-top: 0px;
    text-align: center;
}

.barcode{
    height: 25px !important;
    width: 300px !important;
}